@using SalesViwer.Client.ViewsModels
@model SalesViwer.Client.ViewsModels.AddOrderViewModel

<form method="post" asp-controller="Order" asp-action="Save"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div hidden="true">
        <label asp-for="ClientId"></label><br />
        <input asp-for="ClientId" />
        <span asp-validation-for="ClientId"></span>
    </div>
    <div>
        <label asp-for="ManagerFullName"></label><br />
        <input asp-for="ManagerFullName" />
        <span asp-validation-for="ManagerFullName"></span>
    </div>
    <div>
        <label asp-for="ItemName"></label><br />
        <input asp-for="ItemName" />
        <span asp-validation-for="ItemName"></span>
    </div>
    <div>
        <label asp-for="Price"></label><br />
        <input asp-for="Price" min="0" />
        <span asp-validation-for="Price"></span>
    </div>
    <div>
        <label asp-for="dateTimeOrder"></label><br />
        <input asp-for="dateTimeOrder" />
        <span asp-validation-for="dateTimeOrder"></span>
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
</form>
