@model IEnumerable<SalesViwer.BL.Models.User>

<h2>User list</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Edit rights</a>
                </td>
            }
        </tr>
    }
</table>