@{
    ViewData["Title"] = "Privacy Policy";
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<SalesViwer.BL.Models.User> UserManager
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
